Body{
    margin: 0px;
}

header{
    height: 50px;
    width: 100%;
    background-color: #d8564a;
    border-bottom: solid rgb(207, 207, 207) 0.1px;
}
#Container{
    height: 100%;
    width: 100%;
}

#newTask{
    background: url("./Icons/Cross.png");
    position: absolute;
    right: 60px;
}
#newPro{
    background: url("./Icons/Project.png");
    position: absolute;
    right: 15px;
 
}
#logo{
    height: 50px;
    width: 50px;
    background: url("./Icons/Logo.png");
    border: none;
    margin: 5px;
}
.topbutton{
    height: 25px;
    width: 25px;
    border: none;
    margin: 10px;
}
.topbutton:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#ProjectTxt{
    height : 40px;
    border-bottom: solid#cacaca 0.1px;

}

#ProjectList{
    height: 700px;
    width: 300px;
    border-bottom : solid rgb(207, 207, 207) 0.1px;
    grid-area: "a";
    background-color: #fafafa;
}

#TaskList{
    height: 700px;
    width: 1200px;
    border-bottom : solid rgb(207, 207, 207) 0.1px;
    border-left : solid #eeeeee 0.1px;
    grid-area: "b";
}

form{
    background-color: white;
    height: 200px;
    width: 400px;
    border : solid rgb(207, 207, 207) 0.1px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0px 0px 30px 0px rgba(92, 92, 92, 0.568);
    border-radius: 12px;
    
}
.formfield{
    width: 390px;
    height: 30px;
    margin: auto;
    border : none
}
.formfield:focus{
    outline: none;

}
#central{
    display: grid;
    grid-template-areas: "a b b";
}
#taskField{
    height: 50px;
    width: 1200px;
    border-bottom: solid #cfcfcf 0.1px;
}

#projectField{
    margin-left: 43px;
    height: 40px;
    width: 250px;
    border-radius: 6px;
}
#projectField:hover{
    cursor: pointer;
    background-color: #ebebeb;
}
#submit{
    background-color: #d8564a;
    width: 100px;
    margin: 5px;
    border-radius: 6px;
}
#cancel{
    background: none;
    border : solid rgba(128, 128, 128, 0.479) 0.1px;
    width: 100px;
    margin: 5px;
    border-radius: 6px;
}
#submit:hover{
    cursor: pointer;
}
#cancel:hover{
    cursor: pointer;
}
.fieldT{
    border : none /* oui ca sert a r  */
}

#Title{
    height: 60px;
}
#Description{
    height: 15px;
}